*{
	box-sizing:none;
	padding:none;
}
.main{
	background-image:url('magnetic.jpg');
	position:relative;
	width:100%;
	height:100%;
	color:#fff;
	background-color:#111;
	min-height:100vh;
	padding:0;
	background-size:cover;
	background-position:center center;
	overflow:hidden;
	background-attachment:fixed;
}
.header{
	padding-top:6rem;
	padding-bottom:6rem;
}
/*.overlay{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background:#000;
	z-index:2;
	opacity:0.6;
}*/
.main h1{
	font-family: "Montserrat",sans-serif;
	border:0.5rem solid #fff;
	padding:0.5rem;
	text-transform:uppercase;
	letter-spacing:0.5rem;
}
h4{ 
	display: flex; 
	flex-direction: row; 
	color:#fff;
	text-transform:uppercase;
	letter-spacing:0.3rem;
	padding-top:4rem;
	padding-bottom:4rem;
}       
h4:before, h4:after { 
	content: ""; 
	flex: 1 1; 
	border-bottom: 2px solid rgba(255,255,255,0.5); 
	margin: auto; 
}
input{
	font-family: "Montserrat",sans-serif;
	padding:0.5rem;
	width:100%;
	text-align:center;
	text-transform:uppercase;
}