*{
	box-sizing:none;
	padding:none;
}
h1{
	font-family: "Montserrat",sans-serif;
	text-transform:uppercase;
	color:rgba(0,0,0,0.8);
	letter-spacing:0.5rem;
}
h2{
	font-family: "Montserrat",sans-serif;
	text-transform:uppercase;
	color:rgba(0,0,0,0.8);
	letter-spacing:0.5rem;
	text-decoration:underline;
}
hr{
	width:25%;
	/*float:left;*/
	border-top:3px solid black;
}
.cd{
	padding-bottom:1rem;
}
.cd1:hover{
	transition:0.6s;
	-webkit-transition:0.6s;
	box-shadow:5px 5px 7px #000;
}
.projects{
	padding-top:5rem;
	padding-bottom:5rem;
}
