*{
	box-sizing:none;
	padding:none;
}
h1,h2,h3,h4,h5{
	font-family: "Montserrat",sans-serif;
	/*text-transform:uppercase;*/
	color:rgba(0,0,0,0.4);
}
.header{
	padding-top:0.1rem;
	padding-bottom:0.1rem;
	text-align:center;
}
span{
	font-family: "Montserrat",sans-serif;
	font-weight:bold;
	font-size:2rem;
}
.header .right{
	position:absolute;
	right:0;
	top:2%;
}
.start{
	background-color:#e3b01d;
	padding-top:6rem;
	padding-bottom:6rem;
	text-align:center;
}
.unlimited{
	background-color:rgba(0,0,0,0.05);
	padding-top:6rem;
	padding-bottom:6rem;
	text-align:center;
}
.unlimited p{
	font-family: "Montserrat",sans-serif;
	font-size:1.3rem;
	color:rgba(0,0,0,0.5);
}
img{
	opacity:0.3;
	width:60%;
}
.mobile{
	padding-top:6rem;
	padding-bottom:0;
	text-align:center;
}
.mobile p{
	font-family: "Montserrat",sans-serif;
	font-size:1.3rem;
	color:rgba(0,0,0,0.5);
}
.mobile img{
	opacity:1;
	width:90%;
}
.tell{
	background-color:#e3b01d;
	padding-top:3rem;
	padding-bottom:3rem;
	text-align:center;
}
.tell p{
	font-family: "Montserrat",sans-serif;
	font-size:1.3rem;
	color:rgba(0,0,0,0.5);
}
i{
	padding:0.8rem;
	opacity:0.3;
}
i:hover{
	opacity:1;
	cursor:pointer;
}
.footer{
	background-color:rgba(0,0,0,0.05);
	padding-top:3rem;
	padding-bottom:3rem;
	text-align:center;
}
.logo i{
	opacity:1;
	cursor:default;
}
@media screen and (max-width:750px){
	.right{
		display:none;
	}
}